@import '~normalize.css';
@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@font-face { 
   font-family: 'Lato-Regular'; 
   src: url('./fonts/Lato-Regular.woff2') format('woff2'), 
        url('./fonts/Lato-Regular.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
        url('./fonts/Lato-Regular.woff') format('woff'); 
   font-weight: normal; 
   font-style: normal; 
 }
 @font-face { 
   font-family: 'Lato-Bold'; 
   src: url('./fonts/Lato-Bold.woff2') format('woff2'), 
        url('./fonts/Lato-Bold.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
        url('./fonts/Lato-Bold.woff') format('woff'); 
   font-weight: bolder; 
   font-style: normal; 
 }
 @font-face { 
   font-family: 'Lato-Black'; 
   src: url('./fonts/Lato-Black.woff2') format('woff2'), 
        url('./fonts/Lato-Black.ttf')  format('truetype'), /* Только если нужна поддержка старых Android, иначе закомментировать */ 
        url('./fonts/Lato-Black.woff') format('woff'); 
   font-weight: bold; 
   font-style: normal; 
 }

$maincolor: #e3c9dc;
$textcolor: #1a1818;
a{
   display: block;
   color: $textcolor;
   transition: all 0.3s;
   &:hover{
      text-decoration: none;
     
         box-shadow:  5px -5px 15px #c1abbb, 
                     -5px 5px 15px #ffe7fd;
         color: lighten($color: #000000, $amount: 25%);


   }
}

body{
   font-family: 'Lato-Regular', sans-serif;
   background-color: $maincolor;
   color: $textcolor;
   position: relative;
}
h1, h2, h3, h4, h5, h6{
   font-family: 'Lato-Black', sans-serif;
}
ul, li {
   list-style: none;
   margin: 0;
   padding: 0;
}



.header{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px 0;
   box-shadow:  10px 10px 20px #9f8d9a, 
             -10px -10px 20px #ffffff;
   &__logo{
      & img{
         object-fit: contain;
         width: 20%;
      }
   }
   &__links{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;  
   }
   &__link{
      color: #000000;
      font-size: 16px;
      font-weight: bold;
      border-radius: 50px;
      background: #e3c9dc;
      box-shadow:  20px -20px 30px #c1abbb, 
                  -20px 20px 30px #ffe7fd;
      padding: 10px 20px;
      
      
   }
}
.home {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow:  5px 5px 10px #c8b1c2, 
             -5px -5px 10px #fee1f6;
   &__block {
      text-align: center;
   }
   &__title {
      font-family: 'Lato-Black', sans-serif;
      text-align: center;
      font-size: 40px;
      text-transform: uppercase;
   }
   &__subtitle1{
      display: inline-block;
      font-size: 22px;
      margin-right: 10px;
   }
   &__subtitle2{
      margin: 20px 0 30px;
      font-family: 'Lato-Black', sans-serif;
      display: inline-block;
      font-size: 26px;
      & span {
         font-weight: bold;
      }
   }
   &__text {
      font-size: 18px;
   }
}

.about {
   padding: 100px 0;
   &__title {
      text-align: center;
      margin-bottom: 30px;
   }
   &__text {
      text-align: center;
      margin-bottom: 100px;
   }
   &__img {
      & img{
         width: 100%;
         height: 100%;
      }
   }
   &__skills{
      color:#444444;
      font-size: 1.5rem;
      margin-top: 2.5rem;
   }
   &__socials{
      display: flex;
      justify-content: space-around;
      margin-top: 40px;
      &-link{
         height: 50px;
         width: 50px;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         background: #e3c9dc;
         box-shadow:  5px 5px 10px #a18f9c, 
                     -5px -5px 10px #ffffff;
         
      }
   }
}



.skill{
   &__item{
      margin-bottom: 20px;
      & h5{
         font-size: 18px;
      }
   }
   &__bar{
      width: 100%;
      height: 24px;
      background-color: #eeeeee;
      font-size: 16px;
      color: #fff;
   }
}

.bar1{width: 95%;}
.bar2{width: 95%;}
.bar3{width: 60%;}
.bar4{width: 30%;}
.bar5{width: 40%;}
.bar6{width: 50%;}

.bar1 span::after{content: '95%';}
.bar2 span::after{content: '95%';}
.bar3 span::after{content: '60%';}
.bar4 span::after{content: '30%';}
.bar5 span::after{content: '40%';}
.bar6 span::after{content: '50%';}
.shine {
	display: inline-block;;
	height: 24px;
	position: relative;
}
.shine span {
 	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #545454;                    
	animation: animate-shine 3s ease;
}
.shine span::after{
	position: absolute;
	left: 50%;
}
@keyframes animate-shine {
 0% {opacity: 0.5; width: 0;}
 100% {opacity: 1; width: 100%;}
}
